# ETL process (csv)

### Import dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSV file using pandas

In [4]:
csv_file = "data resources/BRCA.csv"
breastcancer_df = pd.read_csv(csv_file)
breastcancer_df.head()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead

### Transform process

#### View dataframe

In [6]:

new_breastcancer_df = breastcancer_df[['Patient_ID', 'Age', 'Tumour_Stage','ER status','Date_of_Surgery','Patient_Status']].copy()
new_breastcancer_df.head()

     Patient_ID   Age Tumour_Stage ER status Date_of_Surgery Patient_Status
0  TCGA-D8-A1XD  36.0          III  Positive       15-Jan-17          Alive
1  TCGA-EW-A1OX  43.0           II  Positive       26-Apr-17           Dead
2  TCGA-A8-A079  69.0          III  Positive       08-Sep-17          Alive
3  TCGA-D8-A1XR  56.0           II  Positive       25-Jan-17          Alive
4  TCGA-BH-A0BF  56.0           II  Positive       06-May-17           Dead

#### check for missing values

In [8]:

new_breastcancer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Patient_ID       334 non-null    object
 1   Age              334 non-null    float64
 2   Tumour_Stage     334 non-null    object
 3   ER status        334 non-null    object
 4   Date_of_Surgery  334 non-null    object
 5   Patient_Status   321 non-null    object
dtypes: float64(1), object(5)
memory usage: 16.1+ KB

#### dropped na values

In [10]:

new_breastcancer_df.dropna(subset=['Patient_Status'], inplace=True)

#### checked results and verified that null records are dropped

In [11]:

new_breastcancer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 0 to 333
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Patient_ID       321 non-null    object
 1   Age              321 non-null    float64
 2   Tumour_Stage     321 non-null    object
 3   ER status        321 non-null    object
 4   Date_of_Surgery  321 non-null    object
 5   Patient_Status   321 non-null    object
dtypes: float64(1), object(5)
memory usage: 17.6+ KB

#### create connection to database

In [31]:

engine = create_engine('postgresql://postgres:51559565@localhost:5432/breastcancerdb')
connection = engine.connect()

#### create a table for breast cancer data frame in postgres breastcancerdb

In [32]:

new_breastcancer_df.to_sql(name='Patient_record', con=engine, if_exists='append', index=False)

## Load Process

#### read breastcancer data from patient-record table

In [36]:

pd.read_sql_query('select * from public."Patient_record"', con=engine).head()

     Patient_ID   Age Tumour_Stage ER status Date_of_Surgery Patient_Status
0  TCGA-D8-A1XD  36.0          III  Positive       15-Jan-17          Alive
1  TCGA-EW-A1OX  43.0           II  Positive       26-Apr-17           Dead
2  TCGA-A8-A079  69.0          III  Positive       08-Sep-17          Alive
3  TCGA-D8-A1XR  56.0           II  Positive       25-Jan-17          Alive
4  TCGA-BH-A0BF  56.0           II  Positive       06-May-17           Dead

In [37]:
new_breastcancer_df

       Patient_ID   Age Tumour_Stage ER status Date_of_Surgery Patient_Status
0    TCGA-D8-A1XD  36.0          III  Positive       15-Jan-17          Alive
1    TCGA-EW-A1OX  43.0           II  Positive       26-Apr-17           Dead
2    TCGA-A8-A079  69.0          III  Positive       08-Sep-17          Alive
3    TCGA-D8-A1XR  56.0           II  Positive       25-Jan-17          Alive
4    TCGA-BH-A0BF  56.0           II  Positive       06-May-17           Dead
..            ...   ...          ...       ...             ...            ...
329  TCGA-AN-A04A  36.0          III  Positive       11-Nov-19           Dead
330  TCGA-A8-A085  44.0           II  Positive       01-Nov-19           Dead
331  TCGA-A1-A0SG  61.0           II  Positive       11-Nov-19           Dead
332  TCGA-A2-A0EU  79.0            I  Positive       21-Nov-19           Dead
333  TCGA-B6-A40B  76.0            I  Positive       11-Nov-19           Dead

[321 rows x 6 columns]